@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-Thin-BETA.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-Thin-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-ThinItalic-BETA.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-ThinItalic-BETA.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-ExtraLight-BETA.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-ExtraLight-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-ExtraLightItalic-BETA.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-ExtraLightItalic-BETA.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-Light-BETA.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-Light-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-LightItalic-BETA.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-LightItalic-BETA.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-Regular.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-Italic.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-Medium.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-MediumItalic.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-SemiBold.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-SemiBoldItalic.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-Bold.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-BoldItalic.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-ExtraBold.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-ExtraBoldItalic.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-Black.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/theme_leap/static/src/font/Inter-BlackItalic.woff2") format("woff2"),
       url("/theme_leap/static/src/font/Inter-BlackItalic.woff") format("woff");
}
