//
// theme_variables.scss
//

$-primary: #375abb;
$-primary-2: #fb8f8a;
$-primary-3: #1b1f3b;

$-white: #fff;
$-gray-600: #6c757d;
$-gray-700: #495057;

// Theme colors
$o-theme-color-palettes: (
    (
        'primary': $-primary,
        'primary-2': $-primary-2,
        'primary-3': $-primary-3,
        'alpha': $-primary,
        'beta': $-primary-2,
        'gamma': $-primary-3,

        // TODO delta, epsilon colors
        'delta': #5b899e,
        'epsilon': #e46f78,

        'secondary': $-gray-600,
    ),
);

// Colors
$o-color-palettes: ();
@each $-palette in $o-theme-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        'body': $-white,
        'menu':  $-white,
        'footer': $-primary,
        'text': $-gray-700,
    ));
}

// Grays
$o-gray-color-palettes: (
    (
        'white': $-white,
        '100': #f8f9fa,
        '200': #e9ecef,
        '300': #dee2e6,
        '400': #ced4da,
        '500': #adb5bd,
        '600': $-gray-600,
        '700': $-gray-700,
        '800': #343a40,
        '900': #212529,
        'black': #000,
    ),
);

// TODO fonts
//"Inter UI",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"

$o-theme-fonts: (
    ('Inter UI', sans-serif),
);
$o-theme-font-urls: (
    null,
);
$o-theme-font-names: (
    'Inter UI',
);

// We set custom headings color, so we need to override background utilities
// (Included in @mixin o-bg-color mixin)
@mixin o-bg-color-extension($color, $text-color, $with-muted) {
    $-yiq-color: if($text-color, $text-color, color-yiq($color));
     h1, h2, h3, h4, h5, h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $-yiq-color; // not important so that text utilities still work
    }

    // TODO gal nukelti i icons.scss?
    // TODO: su section bg-... spalvomis atrodo kreivai.
    :not([class*=icon-round]) {
        svg.icon * {
            fill: $-yiq-color;
        }
    }

    .icon-round {

        &:not([class*=bg-]) {
            // TODO leisti naudoti savo svg spalva (kaip tekstui)
            background: rgba(color-yiq($color, $dark: $primary), .1);
        }
        // TODO cia prideti ir visas kitas spalvas (isimti is icons.scss)
    }
}


// This allows to add custom text colors to particular bg- classes

// TODO $theme-text-colors
$theme-text-colors: ();
