// Transition time

$transition-time: .2s;
$transition-time-fast: .1s;
$transition-time-slow: .4s;

// Sections

$default-section-padding: $spacer*4;


// Shadows

$shadow-3d: .5rem .5rem 0 rgba($gray-200,.5);

// Color Scheme

$theme-color-scheme: ();
$theme-color-scheme: map-merge(
  (
    "primary":    theme-color('primary'),
    "primary-2":  theme-color('primary-2'),
    "primary-3":  theme-color('primary-3'),
  ),
  $theme-color-scheme
);


// TODO FIX it:

.text-light .display-3 {
    color: white;
}

a.btn-primary-2, button.btn-primary-2 {
    color: white;
}
