//
//
// buttons.scss
//
//

.btn {
  letter-spacing: -.02em;
  &.btn-sm {
    letter-spacing: 0;
  }
}

.btn-white {
  background: $white;
  color: theme-color('primary');
  > .icon{
    path{
      fill: theme-color('primary');
    }
  }
  &:hover {
    color: theme-color('primary');
    background: rgba(255,255,255,.9);
  }
}

.btn-round{
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  >.icon{
    &:only-child{
      margin: 0;
    }
    &.icon-sm{
      height: 1rem;
    }
  }
  &.btn-sm{
    width: 2rem;
    height: 2rem;
  }
  &.btn-lg{
    width: 3.75rem;
    height: 3.75rem;
  }
  &.btn-xlg{
    width: 4.5rem;
    height: 4.5rem;
  }
  &.btn-lg, &.btn-xlg{
    > .icon{
      height: 2rem;
    }
  }
}
