//
//
// dropdowns.scss
//
//

/*

TODO dropdowns

.dropdown-toggle{
  outline: none;
  cursor: pointer;
  &:after{
    display: none !important;
  }
  &.btn{
    > .icon{
      &:last-child{
        transform: rotateZ(-90deg);
        margin: 0;
      }
    }
  }
}

.dropright{
  .dropdown-toggle{
    &.btn{
      > .icon{
        &:last-child{
          transform: rotateZ(180deg);
        }
      }
    }
  }
}

.dropup{
  .dropdown-toggle{
    &.btn{
      > .icon{
        &:last-child{
          transform: rotateZ(90deg);
        }
      }
    }
  }
}

.dropleft{
  .dropdown-toggle{
    &:before{
      display: none;
    }
    &.btn{
      > .icon{
        &:first-child{
          transform: rotateZ(0deg);
        }
      }
    }
  }
}
*/


.dropdown-item {
  font-weight: $font-weight-bold;
  transition: color $transition-time-fast ease;
}

.dropdown-header {
  font-size: inherit;
  padding-bottom: 0;
}

.dropdown-menu {
  box-shadow: $box-shadow-sm;
  h6 {
    margin-bottom: 1rem;
  }
  &.text-light {
    .dropdown-item {
      color: rgba($white,.5);
      &:hover, &:active{
        color: $white;
      }
    }
  }
}
