//
//
// typography.scss
//
//

html{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

 h1, h2, h3, h4,
.h1,.h2,.h3,.h4,
.display-1, .display-2, .display-3, .display-4{
  letter-spacing: -.03em;
}

 h5, .h5 {
  line-height: 1.5;
}

@include media-breakpoint-down(lg){
  html{
    font-size: 0.9375rem;
  }
}

@include media-breakpoint-down(sm){
  html{
    font-size: .875rem;
  }
}

@include media-breakpoint-down(md){
  .display-2{
    font-size: $display4-size;
  }
}

.display-1, .display-2, .display-3, .display-4{
  color: $headings-color;
}

.display-1, .display-2, .display-3, .display-4{
  margin-bottom: 1.5rem;
  line-height: 1;
}

.display-4{
  line-height: 1.1;
}

@include media-breakpoint-down(lg){
  .display-3{
    font-size: $display4-size;
    line-height: 4rem;
  }
}

@include media-breakpoint-down(sm){
  .display-4{
    font-size: $h1-font-size;
    line-height: 3rem;
  }
}

@include media-breakpoint-down(sm){
  h1,.h1{
    font-size: $h2-font-size;
  }
  h2,.h2{
    font-size: $h3-font-size;
  }
  h3,.h3{
    font-size: $h4-font-size;
  }
  h4,.h4{
    font-size: $h5-font-size;
  }
}

h5{
  margin-bottom: $spacer/2;
}

h6{
  line-height: 1.375rem;
}

a{
  font-weight: 600;
  &.lead {
    font-weight: 600;
  }
}

small, .text-small{
  font-weight: $font-weight-bold;
}

.text-small{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

small{
  display: inline-block;
  line-height: 1.1875rem;
  &.text-uppercase{
    letter-spacing: .08em;
  }
}

strong, b{
  // TODO figure out why do we need !important
  font-weight: $font-weight-bold !important;
}

.highlight{
  display: inline;
  background: rgba(theme-color('primary-2'),.2);
}

.alert{
  word-break: break-word;
}
