//
//
// utilities.scss
//
//


// TODO check all utilities

.o-hidden {
  overflow: hidden;
}

.o-visible {
  overflow: visible;
}

// Opacity
//
// Control an element's opacity using the class .opacity-# element with value of 0 - 100
.opacity-0 {
  opacity: 0;
}

@for $i from 1 through 9 {
  $opacity: ($i / 10);
  .opacity-#{($i*10)} {
    opacity: $opacity;
  }
}

// Spacing
//
// Control an element's vertical (North South) padding with these utilities

section {
  padding: $default-section-padding 0;
}

// Shadows
//

.shadow-3d{
  box-shadow: $shadow-3d;
}


// Alternative background colors
//

@each $name, $color in $theme-color-scheme {
  .bg-#{$name}-alt{
    background: mix($color,$white,6%);
  }
}

// Borders

img.rounded, div.rounded{
  border-radius: $border-radius*2 !important;
}

.rounded-sm, img.rounded-sm{
  border-radius: $border-radius !important;
}

.bg-primary-3{
  &.border-bottom{
    border-color: rgba($white,.08) !important;
  }
}

//
// Position
//

.position-relative{
  z-index: 1;
}

.position-absolute{
  &[style]{
    z-index: 2;
  }
}



// TODO spacing

.mb-2 {
    margin-bottom: 0.75rem !important;
}

.mr-3 {
    margin-right: 1.5rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 2.25rem!important;
}

// Z-index Layers

@for $i from 1 through 4 {
  .layer-#{$i}{
    z-index: $i;
  }
}

[class*='layer-']{
  position: relative;
}

// Transforms

.flip-x{
  transform: scaleX(-1);
}

.flip-y{
  transform: scaleY(-1);
}

.rotate-left{
  transform: rotateZ(-1deg);
  &.mobile-screenshot{
    transform: rotateZ(-5deg);
  }
}

.rotate-right{
  transform: rotateZ(1deg);
}



// TODO vh


@for $i from 1 through 10 {
  $height: ($i * 10);
  .min-vh-#{$height} {
    min-height: #{$height}vh;
  }
}
